body {
  margin: 0;
  background-color: #A0ADFF;
  font-family: 'Press Start 2P';
}

.alt-text {
  font-family: 'Nunito', sans-serif;
}

 .main-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.center-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 74%;
  height: 100vh;
}

.side {
  background-color: #DC5A17;
  height: 100vh;
  width: 13%
}

.game-option {
  text-align: center;
  background-color: #DE5818;
  width: 15vw;
}

.game-option:hover {
  background-color: #FBC27D
}

.change-game {
  border-radius: 10%;
  background-color: #FBC27D
}

/* .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .classic-fighters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */

/* .rock {
  max-width: 20%;
}

.tp {
  max-width: 20%;
}

.scissors {
  max-width: 20%
} */

img {
  max-width: 20%
}

.hidden {
  display: none;
}
